@import "global/reset";
@import "global/breakpoints";
@import "global/colors";
@import "global/typography";
@import "global/flexbox";
@import "components/navbar";


section{
  padding: 80px 15%;
}




.hero-image{
    text-align:center;
    padding: 0 10%;
    @include breakpoint(md){
      padding: 0;
    }
    
  }
  .hero-page{
    padding: 10%  ;  
    background-color: white;  
  
  @include breakpoint(md){
    padding: 5% 12% ;
  }
  
  }
  .btn-margin{
    margin: 1.7em 0;
    @include breakpoint(md){
   
   margin: 2.2em 0;
      
   }
  }
  .primary-button{
    padding: .5em 1em; 
    font-weight: bold;
    font-size: 20px;
    background: #FF1988;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: .12em .20em .12em rgba(0, 0, 0, 0.25);
    margin: 50px 0 0 0;   
    color: white;
    ;    
    font-family: $primary-font;        
    &:hover{
        background: $hover-color;     
        color: black;
        transition:.2s
    }
    &:active{
        box-shadow: .08em .16em .08em rgba(0, 0, 0, 0.55);
    }
    @media (min-width: 1024px) {
        font-size: 23px;
      }
  }


 .align-center{
text-align: center;
 }
  
footer{
  text-align: center;
  a{
    color: $primary-color;
    text-decoration: none;
  }
}
 
.main-card{
  background: inherit;
  box-shadow: 2px 2px black;
  
  border: 5px solid #97CFED;
box-sizing: border-box;
box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  
  padding: 15px 25px 20px;
  text-align: center;
  margin: 17px;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  p{ 
  padding: 0 2%;    
  }
  h5{
   text-align: center;
  }
  
  @include breakpoint(md){
    margin:17px;
    width: 299px;
  height: 511px;
  }

  
  img{
      margin: 30px 0;
  }
  
 
  
  }

  
.card-container{
  text-align: center;
  background: white;
  padding:80px 5%;
 
}

.fix{
  padding-top: 6px;
}

.justify-center{
justify-content: center;
}

.blog-article{
  margin:0 10px 50px;
  padding: 5px;
  border: solid 1px $accent-color;
  background: white;
}
.article{
  padding: 0 10%;
  margin: 0 0 100px;

  @include breakpoint(md){
   width: 80%;
   margin: 0 auto 100px;
  }

}
.blog-date{
  padding: 0;
  font-size: 14px;
  color: $primary-color;

  @include breakpoint(md){
   width: 80%;
  
   font-size: 18px;
   
  }
}

.blog-wrap{
  background: $light-color2; flex-wrap: wrap;justify-content: center;
}


.reverse{
  flex-direction: column-reverse;
  @include breakpoint(md){
   flex-direction: row;
  }
}

.add-pad{
  @include breakpoint(md){
  padding: 60px 10%;

   }
}

.about-pad{
  @include breakpoint(md){
    padding: 0 5%;
}
}

label{
  font-family: $primary-font;
}

.social-media {
  h5{
    margin: 5%;
    @include breakpoint(md){
    margin: 0 0 5% 0;
    
       }

  }

a{
margin: 0 10px;
}

}


.social-icon{
  hover{
    fill: $accent-color;
  }
}


form{
  text-align: center;
  div{
    margin: 1em;
  }
  label{
    font-family: $primary-font;
    
  }
}
